{% extends 'base.html' %} {% block title %}
<h1>Privisa</h1>
<sub>Password Manager</sub>
{% endblock %} {% block content %}
<h2>{{title}}</h2>
<form action="" method="post">
  <div class="form-inputs">{{ form }}</div>
  <button type="submit" class="button">{{title}}</button>
  {% if title == "Login" %}
  <p>New here? <a href="{% url 'register' %}">Click to register</a></p>
  {% else %}
  <p>Already a member? <a href="{% url 'login' %}">Click to login</a></p>
  {% endif %}
</form>
{% if form.bad_password %}
<p>The password is incorrect</p>
{% endif %} {% endblock %}
